*{
	margin: 0;
	padding: 0;
}
div{
	margin-top: 10px;
	margin-left: 10px;
}
ul li{
	position:relative;
	float: left;
	width: 82px;
	height: 32px;
	line-height: 34px;
	font-size: 12px;
	font-weight: bold;
	padding-left:5px;
	list-style: none;
	background:#414141;
	border-right:1px solid #fff;
}
ul li:last-child{
	border-right-width:0;
}

ul li + li + li{
	width: 90px;
	height: 34px;
	background-image: none;
}
ul li a{
	position: relative;
	overflow: hidden;
	display:block;
	width: 100%;
	height: 100%;
	color: #fff;
	text-decoration: none;
}
ul li a:before{
	position:absolute;
	top: 45%;
	right:5px;
	content:'';
	display:block;
	width:0;
	height:0;
	border-top:6px solid #fff;
	border-right:6px solid transparent;
	border-bottom:6px solid transparent;
	border-left:6px solid transparent;
}
ul li a:last-child:before{
	visibility: hidden;

}
ul li > ul{
	position:absolute;
	left:0px;
	top:34px;
	overflow: visible;
	clear: both;
	width: 162px;
	height:0;
	opacity: 0.7;
	-webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	-ms-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
ul li > ul li{
	width: 100%;
	height: 100%;
	background-image: none;
}
ul li:hover > ul {
	height: 100%;
	opacity: 1;
}
